@import "functions";
@import "helpers/variables";
@import "mixins";

@import "bootstrap";

//@import "node_modules/animate-sass/animate";
//@import "components/animation";
body{
    font-family: 'Barlow', sans-serif;
}


.dropdown-menu a:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
    transition: all 5s;
}
// .dropdown-menu a:hover .slide_animate {
//     opacity: 0;
//     transition: all 0.5s; 
// }
// .dropdown:hover:hover .dropdown-menu{
//     display: block;
//     opacity: 1;
// }

// .slide_animate {
//   opacity: 0;
//   -webkit-transform: translateX(50px);
//           transform: translateX(50px);
//   transition: all 1s; }

// .slideIn {
//   opacity: 1;
//   -webkit-transform: translateX(0px);
//           transform: translateX(0px); }
.nav_border{
    height: 20px;
    margin-top: 10px;
}
.dropdown-item{
    font-weight: 400;
}
.bg_img{
    height: 750px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover ;
    background-image: url(https://z110x119c911.github.io/shop_demo/source/images/header.jpg);
}
.bg_nav{
    background-color: rgba(0,0,0,0.5);
}


.nav-item:hover{
    background: rgba(0,0,0,0.5);
    transition: all 1s;
}