@import "functions";
@import "helpers/variables";
@import "mixins";

@import "bootstrap";
@import "components/animation";

body{
    font-family: 'Barlow', sans-serif;
}
p{
    margin-bottom: 0px;
}
// 下拉Hover
.dropdown-menu a:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-item{
    font-weight: 400;
}


//nav分隔線
.navbar{
    z-index: 1000;
}
.bg_nav{
    background-color: rgba(0,0,0,0.5);
}
.nav_border{
    height: 20px;
    margin-top: 10px;
}
.nav-item:hover{
    background: #dcce54;
    transition: all 1s;
}


//img設定
.img_header{
    height: 100vh; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img_cover{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

//textarea size
.text_area{
    resize: none;
    height: 200px;
}

//WTNS